# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Project specific intermediate files
dataset/pixels_input.txt
dataset/initial_centroids.txt
dataset/*.jpg
dataset/output_images/

# System
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
